@font-face {
    font-family: 'Cascadia Code';
    src: local('Cascadia Code'), local('CascadiaCode'),
        url('CascadiaCode.woff2') format('woff2'),
        url('CascadiaCode.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
