<!doctype html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/assets/main.css" />
	<link href="https://fonts.googleapis.com/css?family=Nunito|Open+Sans" rel="stylesheet">
	<link rel="stylesheet" href="/vendor/font-awesome-4.7.0/css/font-awesome.min.css">
	{{ template "_internal/google_analytics.html" . }}
{{ $directory := "themes/hugo-theme-lean-launch-page/static/" }}
{{ $filename := "favicon.png" }}
{{ if (where (readDir $directory) "Name" $filename) }}
	<link rel="icon" type="image/png" href="favicon.png" />
{{ end }}
	<title>{{ .Site.Title }}</title>
</head>
<body>
{{ $directory := "themes/hugo-theme-lean-launch-page/static/" }}
{{ $filename := "favicon.png" }}
{{ if (where (readDir $directory) "Name" $filename) }}
	<!--<img class="logo" src="/favicon.png" alt="Logo" />-->
{{ end }}
	
	{{ block "main" . }}
	

	<div id="container-outer">
		
		<div class="page-1">
			<svg viewBox="0 342 1366 283">
			  <defs>
				<path id="wave-curve" d="M0,342c595,0,813,283,1366,283"/>
			  </defs>
			  <path id="wave" d="M0,342c595,0,813,283,1366,283 V -10000 H 0 Z"/>

			</svg>
		</div>
		
		<div id="container">
			
			<div id="logo">
				<!--<h1>{{ .Site.Title }}</h1>-->
			</div>
			
			<div id="menu">
				<p>{{ .Site.Params.tagline }}</p>
			</div>
			
			<div id="social">
				
				<ul class="social-icons">
					{{ if isset .Site.Params "twitter" }}<li><a href="{{ .Site.Params.twitter }}"><i class="fa fa-twitter"></i></a></li>{{ end }}
					{{ if isset .Site.Params "facebook" }}<li><a href="{{ .Site.Params.facebook }}"><i class="fa fa-facebook"></i></a></li>{{ end }}
					{{ if isset .Site.Params "instagram" }}<li><a href="{{ .Site.Params.instagram }}"><i class="fa fa-instagram"></i></a></li>{{ end }}
				</ul>
				
			</div>
			

	
		<div id="content">
			
			<div id="benefits">
				{{ range .Pages }}
				{{ .Content }}
				{{ end }}
			</div>
			
		</div>
		
	</div>
	
	</div>
	
	
	
	
	
	
	
	
	
	
	
	{{ end }}
	
	
	{{ if isset .Site.Params "mailchimpurl" }}{{ partial "mailchimp-signup" . }}{{ end }}
	
</body>
</html>
