{{ define "main" }}

<div id="container" class="container__list">

	{{ partial "header" . }}

	<div class="content__title" class="blur-content">
		<h1>{{ .Title }}</h1>
	</div>

	<main id="content">
		<section class="content__body">
				{{ .Content }}
		</section>
	</main>

	<aside>
		<div id="sidebar__wrapper">
			{{ .TableOfContents }}
		</div>
	</aside>

</div>

{{ end }}

{{ partial "footer" . }}
