@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Barlow:400,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Archivo:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Archivo:400,500,600,700|IBM+Plex+Mono:100,300,400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Libre+Caslon+Text|Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Chivo:300,400,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Arvo:400,700|Playfair+Display:400,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:700,800,900&display=swap');

@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900|Poppins:200,300,400&display=swap');

@import url('https://fonts.googleapis.com/css?family=Chonburi|Limelight&display=swap');

@import url('https://fonts.googleapis.com/css?family=Arimo:400,700&display=swap');


@font-face {
	font-family: system;
	font-style: normal;
	font-weight: 300;
	src: local("Helvetica Neue"), local("-apple-system"), local("BlinkMacSystemFont"), local("Helvetica"), local('A'), url('../font/Inter-UI-Regular.woff') format('woff');
}


@font-face {
	font-family: header;
	font-style: normal;
	font-weight: 400;
	src: local("Helvetica Neue"), local("-apple-system"), local("BlinkMacSystemFont"), local("Helvetica"), local('Inter UI Regular'), url('../fonts/Inter-UI-Regular.woff') format('woff');
}


@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translate3d(0, 0, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

@keyframes slideIn {
	from {
		opacity: 0;
		transform: translate3d(0, -1%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

fadeIn{
    opacity: 0;
    animation: fadeIn 0.3s ease-in both;
}

slideIn{
    opacity: 0;
    animation: fadeIn 0.3s ease-in both;
}


:root {
	--border-2:#EAD2AC;
	--background:#39304A;
	/*--background:rgb(26, 29, 54);*/
	/*--background:#39304A;*/
	--layer:#EAD2AC;
	--code:#2d2d2d;
	--code-border:#242c36;
	--header:#1a1d36;
	--text:#3b3b3b;
	--border-1:#555555;
	--accent-1:#EAD2AC;

	--color-dark-1:#35342f;
	--background-color:rgb(242, 241, 241);
	--main-text: #111;
	--header-txt: #f2f1f1;
	--header-bg: #0F1D2B;
	--accent-pri: #191f45;
	--accent-sec: #dad7d7;

	--blue: #2c7bf2;
	--lightblue: #2677bb;

}


*:focus {
    outline: none;
}

/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
	padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
	max-width: 100%;
	display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
	margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
	border: none;
}

html{
	height: 100%;
	scroll-behavior: smooth;
}

body{
	width:100vw;
	margin:0;
	padding:0;
	letter-spacing: 0.025em;
	min-height: 100vh;
	scroll-behavior: smooth;
	text-rendering: geometricPrecision;
	line-height: 1.5;
	font-family: system;
	font-size: 16px;
}

h1,
h2,
h3,
h4{
	font-weight:bold;
	color:var(--header);
}

h1{
	font-size: 1.5em!important;
}

table {
	border-collapse: collapse;
	font-size:0.90rem;

	margin-bottom:4rem;
	width:100%;
}

form{
	margin-bottom:3rem;
	width: 100%;
	overflow: auto;
}

form input{
	border: none;
	padding: 0;
	height: 40px;
}

form input[type="email"]{
	box-sizing: border-box;
	border:1px solid var(--border-2);
	padding:1em 1em;
	border-radius:3px;
	margin-bottom:1em;
	font-size:1rem;
}

form input[type="email"]:hover{
	border: 1px solid #5D2E8C;
	transition:0.3s;
}

form input[type="submit"]{
	background-color: transparent;
	border: 1px solid var(--border-2);
	color: #212121;
	border-radius:3px;
	width:100%;
	font-size:1rem;
}

form input[type="submit"]:hover{
	background-color: #5D2E8C;
	border: 1px solid #5D2E8C;
	color: #fff;
	transition:0.3s;
}


form textarea{
	border: 1px solid var(--border-2);
	padding:1em 1em;
	border-radius:3px;
	margin-bottom:1em;
	font-size:1rem;
}

form textarea:hover{
	border: 1px solid #5D2E8C;
	transition:0.3s;
}


.form__wrapper{
	display:flex;
	width:100%;
	flex-direction:column;
}


::-webkit-input-placeholder { /* Edge */

}

:-ms-input-placeholder { /* Internet Explorer */

}

::placeholder {

}


table{
	margin-left:0rem;
	font-size: 1em;
}

tr {

	background: transparent;
	line-height:2em;
	border-bottom: 1px solid var(--border-2);
}

tr:nth-of-type(1) {
	border-top: 1px solid var(--border-2);
}

tr:nth-of-type(odd) {
	background: transparent;
	line-height:2em;
}

tr:nth-of-type(even) {
	/* background: #f5f5f5; */
}

th {
	border-bottom: 2px solid var(--border-2);
	display:none;
}

td {

}

td:nth-child(1) {
	color:var(--header);
	font-weight: normal;
}
td:nth-child(2) {
	color:#787878;
}

td, th {
	padding: 0.5rem;
	text-align: left;
}







h1{
	font-family: system;
	font-weight:900;
    color: #000;
    position: relative;
	padding-left:0px;
	margin-left:0px;
	padding-bottom:1em;
}


.background {
  flex: 1;
}

.background svg {
  position: absolute;
  width: 100vw;
  height: 100%;
  z-index: 1;
}

#background__wave {
  fill:var(--background	);
  animation: fadeIn 0.4s ease-in both;
}

#container-outer{
	display:grid;
	width:100vw;
	z-index: 1
}

#container{
	background-color:transparent;
	z-index:10;
	display:grid;
	width:100vw;
	margin-top:0rem;
	margin-bottom:10rem;
	margin-right:auto;
	grid-template-columns: 1fr 20fr 1fr;
    grid-template-areas: '. logo .'
	'. menu .'
	'. content .'
	'. footer .';
	grid-template-rows: 15vh auto;
    grid-column-gap: 0rem;
}

#logo{
	grid-area:logo;
	background-image: url('../logo.png');
	background-size: 250px auto;
	background-repeat: no-repeat;
	background-position: center 70%;
	background-origin:padding-box;

	animation: fadeIn 0.3s ease-in both;
}

#logo__inner{

}

#menu{
	grid-area: menu;
	text-transform: uppercase;
	margin-bottom:1em;
	animation: slideIn 0.3s ease-in both;
}

#menu ul {
	display: flex;
	flex-wrap: nowrap;
	justify-content:center;
	padding-left:0;
}

#menu ul a{
	color:var(--accent-1);
	font-size:0.9em;
	background-color: #2c2539;
	padding:0.4em 0.85em;
	border-radius:1em;
}

#menu ul a:hover{
	color:var(--header);
	background-color: var(--accent-1);
	text-decoration: none;
	transition:0.3s;
}





#social{
	grid-area:social;
}


#content{
	grid-area:content;
	border-radius:1rem;
	background: rgba(255,255,255,.97);
	box-shadow: 0 3px 9px rgba(0,0,0,.05);
	padding:3rem 3.5rem;
	animation: slideIn 0.3s ease-in both;
	min-width:300px;
	max-width:1000px;
	margin-left:auto;
	margin-right:auto;
}


#content__body{
	text-align: left;
	width: 100%;
}

#content__body h2{
	font-size: 1.3rem;
}

#content__body h1{
	font-size: 1.3rem;
	font-weight:bold;
	margin-bottom:0.5rem;
}

#content__body h1:after {
    content: '';
    width: 10%;
    height: 3px;
    background: var(--accent-1);
    display: block;
    margin: 14px 0 0px;
}

#content__body p{
	padding-left:0;
	padding-top:0;
	padding-bottom:1em;
	text-align: left;
	font-family: inherit;
	font-weight:normal;
	color:#787987;
}

.content__body--inner{
	display: flex;
	justify-content:space-between;
	flex-direction: column;
	align-items: center;
	/*background-color: var(--accent-1);*/
	/*box-shadow: 0 3px 9px rgba(0,0,0,0.3);*/
}

.content__body--text{
	width: 2fr;
	padding:0;
	position:relative;
}



.content__body--img{
	width: 100%;
	height:auto;
	border:1px solid var(--accent-1);
	position: relative;
	overflow: hidden;
	margin-top:1rem;
	margin-bottom:3rem;
}

.content__body--img img {
	max-width: 100%;
	height:auto;
}


#content__footer {
	grid-area:footer;
	margin-top:2rem;
}

#content__footer ul{
	grid-area:footer;
	text-align: left;
	padding-left:0;
	margin-bottom:2em;
	display: flex;
	flex-wrap: nowrap;
}

#content__footer ul li{
	margin-right:0.5em;
}


#content__footer a{
	color:var(--header);
	font-size:0.9em!important;
	background-color: var(--accent-1);
	padding:0.6em 0.85em;
	border-radius:1em;
}

#content__footer a:hover{
	color:var(--accent-1);
	background-color: var(--header);
	text-decoration: none;
	transition:0.3s;
}

#content__footer h4{
	color:var(--header);
}









ul{
list-style-type: circle;
}
li{
display: inline-block;
list-style-type: circle;
}
a{
text-decoration: none;
}




@media (max-width: 950px){
	#container{
		grid-template-columns: 1fr 20fr 1fr;
		grid-template-rows: 15vh auto;
	    grid-column-gap: 0rem;
	}

	#content{
		padding:2rem 2.5rem;
	}


	#content__footer ul{
		grid-area:footer;
		text-align: left;
		padding-left:0;
		margin-bottom:2em;
		width:100%;
		display: flex;
		flex-direction: column;
		align-items: stretch;
		align-content: space-between;

	}

	#content__footer ul li{
		margin-bottom:0.5em;
		margin-right:0em;

	}


	#content__footer a{
		color:var(--header);
		font-size:1em;
		background-color: var(--accent-1);
		padding:0.6em 0.85em;
		border-radius:3em;
		display: block;
	}



}
