<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<meta name="description" content="{{ if .IsPage }}{{ .Site.BaseURL }}{{ else }}{{ .Site.Params.description }}{{ end }}">
    {{ with .Site.Params.keywords }}<meta name="keywords" content="{{ . }}">{{ end }}

	<meta property="og:site_name" content="{{ .Site.Title }}">
    <meta property="og:title" content="{{ block "og-title" . }}{{ .Site.Title }}{{ end }}">
    <meta property="og:description" content="{{ if .IsPage }}{{ .Params.description }}{{ else }}{{ .Site.Params.description }}{{ end }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ .Permalink }}">
    <meta property="og:image" content="{{ if .IsPage }}{{ .Site.BaseURL }}{{ .Params.thumbnail }}{{ else }}{{ .Site.BaseURL }}{{ .Site.Params.thumbnail }}{{ end }}">

	<title>{{ .Title }}</title>
	{{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
	{{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}

	<link rel="stylesheet" href="{{ "assets/main.css" | relURL }}">
	{{ with .OutputFormats.Get "RSS" -}}
		{{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
	{{- end }}
	
	<link rel="stylesheet" href="{{ "font/fontello.css" | relURL }}">
	{{ with .OutputFormats.Get "RSS" -}}
		{{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
	{{- end }}




</head>
<body>

	
	{{ block "main" . }}

	<div id="container-outer">
		
		<div class="background">
			<svg viewBox="0 342 1366 283">
			  <defs>
				<path id="wave-curve" d="M0,342c595,0,813,283,1366,283"/>
			  </defs>
			  <path id="background__wave" d="M0,342c595,0,813,283,1366,283 V -10000 H 0 Z"/>

			</svg>			
		</div>

		<div id="container">
			
			<div id="logo">
				<!--<h1>{{ .Site.Title }}</h1>-->
			</div>
			
			<nav id="menu">
				<ul>
					<li><a href="#introductie">Over</a></li>
					<li>&#160;</li>
					<li><a href="#tarieven">Tarieven</a></li>
					<li>&#160;</li>
					<li><a href="#nog-een-stukje">Nog iets</a></li>
					<li>&#160;</li>
					<li><a href="#contact">Contact</a></li>
				</ul>
			</nav>
			
			<div id="social">
				<!--
				<ul class="social-icons">
					{{ if isset .Site.Params "twitter" }}<li><a href="{{ .Site.Params.twitter }}"><i class="fa fa-twitter"></i></a></li>{{ end }}
					{{ if isset .Site.Params "facebook" }}<li><a href="{{ .Site.Params.facebook }}"><i class="fa fa-facebook"></i></a></li>{{ end }}
					{{ if isset .Site.Params "instagram" }}<li><a href="{{ .Site.Params.instagram }}"><i class="fa fa-instagram"></i></a></li>{{ end }}
				</ul>
				-->
			</div>
	
			<div id="content">
				{{ range .Pages }}
				<div id="content__body">
					
					{{ if isset .Params "featured_image" }}
					
					<div class="content__body--inner">	    
						<div class="content__body--text">{{ .Content | markdownify }}</div>
						<div class="content__body--img">
							<img src="{{ index .Params "featured_image" }}">
						</div>
					</div>
						
					{{ else }}
					{{ .Content }}
					{{ end }}

				</div>
				{{ end }}	
				
			</div>
						
		</div>

	{{ end }}
</body>
</html>